

<%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    
  <p>
    <div style="font-size: 1.2em;"><%= f.label :title %><br>
    <%= f.text_field :title %></div>
  </p>
 
  <p>
    <div style="font-size: 1.2em;"><%= f.label :text %><br>
    <%= f.text_area :text %></div>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

