<div id="container">

	<div id="top_block">

		<div id="header">
			<br><div style="font-family:Fantasy, Comic Sans;">
			<h1>Sneha's Blog</h1>
			</div>
		</div>

		<div id="nav">
			<ul>
			<li class="button"><%= link_to 'EDIT', edit_post_path(@post) %></li>
			<li class="button"><%= link_to 'POSTS', posts_path %></li>
			</ul>
		</div><br>
	</div>


	<div id="main">
	<div id="block">

		<div id="main_left">
			<div id="margin">
			<p>
			<br><strong style="font-size:1.2em;"> Title: </strong>
				<%= @post.title %>
			</p>		 
			<p>
				<%= @post.text %></center>
			</p>
			</div>
		</div><br>

		<div id="main_left">
			<div id="margin">
			
			<% if @post.comments.any? %>
			<h3>Comments:</h3>
			<% end %>
			<%= render @post.comments %>
					 
			<h3>Add a comment:</h3>
			<%= render "comments/form" %>
			</div>
		</div>

	</div>
	</div>	


</div>





